.guide-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;

  a {
    text-decoration: none;
  }
  li {
    list-style: none;
  }
  .guide-header {
    display: flex;
    align-items: center;
    padding: 0 10px;
    width: 100%;
    height: 50px;
    background-color: #444;

    .guide-logo {
      display: block;
      color: #fff;
      font-size: 1.2rem;
    }
    .nav {
      display: flex;
      align-items: center;
      gap: 20px;
      margin-left: 155px;
      a {
        display: block;
        color: #f7f7f7;
        font-size: 0.9rem;
      }
    }
  }
  .guide-main {
    flex: 1;
    padding: 16px 20px;
  }
  .guide-sidebar {
    overflow-y: auto;
    width: 240px;
    height: calc(100vh - 50px);
    background-color: #f7f7f7;
    transition: width 0.3s;
    &.collapsed {
      width: 60px;
      justify-content: center;
    }
    &:not(.collapsed) {
      justify-content: flex-start;
    }
    &__nav {
      padding: 16px;
    }

    &__item {
      padding: 5px 0;
      &.open {
        > .guide-sidebar__sublist {
          max-height: 1000px;
        }
      }
    }

    &__sublist {
      padding: 0;
    }

    &__subitem {
      margin: 10px 0;
    }

    &__link {
      cursor: pointer;
      margin-bottom: 10px;
      color: #666;
      font-size: 0.9rem;
      .MuiListItemButton-root {
        border-radius: 6px;
        padding: 8px 16px;
      }
      &.active {
        font-weight: bold;
        .MuiTypography-root {
          font-weight: bold;
          &:hover {
            font-weight: bold;
          }
        }
      }
    }
    &__sublink {
      display: block;
      padding: 6px 10px;
      color: #666;
      font-size: 0.8rem;
      border-radius: 3px;
      background-color: #fff;

      &.active {
        .MuiListItemButton-root {
          font-weight: bold;
          background-color: #ddd;
        }
      }
    }
  }
  .guide-page {
    &__title {
      margin-bottom: 20px;
      padding-bottom: 10px;
      border-bottom: 1px solid #636060;
      h2 {
        color: #666;
        font-size: 1.3rem;
      }
    }
    &__box {
      &--tit {
        h3 {
          color: #666;
          font-size: 1rem;
        }
      }
      &--cont {
        color: #666;
        font-size: 0.9rem;
      }
    }
  }
}

@media (max-width: 768px) {
  .guide-sidebar {
    position: fixed;
    left: -240px;
    top: 0;
    height: 100%;
    z-index: 1000;
    &.open {
      left: 0;
    }
  }
}
