body {
  overflow: hidden;
  word-break: keep-all;
}
.guide-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;

  a {
    text-decoration: none;
  }
  li {
    list-style: none;
  }
  .flex {
    display: flex;
    gap: 10px;
  }
  .guide-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    width: 100%;
    height: 50px;
    background-color: #444;

    .guide-logo {
      display: block;
      color: #fff;
      font-size: 1.2rem;
    }
    .btn-sidebar-toggle {
      display: none;
      padding: 0.5rem;
      min-width: 40px;
      background-color: transparent;
      span {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      &:hover {
        background-color: transparent;
      }
    }
    .nav {
      display: flex;
      align-items: center;
      gap: 10px;
      margin-left: auto;
      a {
        display: block;
        color: #f7f7f7;
        font-size: 0.9rem;
      }
      .btn-nav {
        padding: 5px 10px;
        font-size: 0.7rem;
        background-color: #666;
      }
    }
  }
  .guide-main {
    overflow-x: hidden;
    overflow-y: auto;
    flex: 1;
    padding: 20px 25px;
    max-height: calc(100vh - 93px);
  }
  .guide-sidebar {
    overflow-y: auto;
    width: 220px;
    min-height: calc(100vh - 50px);
    height: 100%;
    background-color: #f7f7f7;
    transition: width 0.3s ease;
    &.collapsed {
      width: 45px;
      .MuiList-root {
        padding: 0;
      }
    }

    .sidebar-toggle {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding: 10px 10px 0;
      svg {
        border: 1px solid #ddd;
        background-color: #fff;
      }
    }
    &::-webkit-scrollbar {
      scrollbar-width: thin;
    }
    &__nav {
      overflow-y: auto;
      padding: 0 16px;
      max-height: calc(100vh - 85px);
    }

    &__item {
      padding: 5px 0;
      &.open {
        > .guide-sidebar__sublist {
          max-height: 1000px;
        }
      }
    }

    &__sublist {
      padding: 0;
    }

    &__subitem {
      display: block;
      margin: 0 0 10px;
      background-color: #fff;
      .MuiTypography-root {
        color: #666;
        font-size: 0.9rem;
      }
      &.active {
        background-color: #ddd;
        .MuiTypography-root {
          font-weight: bold;
        }
      }
      &:last-child {
        margin-bottom: 0;
      }
    }

    &__link {
      cursor: pointer;
      color: #666;
      font-size: 0.9rem;
      .MuiListItemButton-root {
        border-radius: 6px;
        padding: 8px 16px;
      }
      &.active {
        font-weight: bold;
        .MuiTypography-root {
          font-weight: bold;
          &:hover {
            font-weight: bold;
          }
        }
      }
    }
    &__sublink {
      display: block;
      padding: 6px 10px;
      color: #666;
      font-size: 0.8rem;
      border-radius: 3px;
      background-color: #fff;

      &.active {
        .MuiListItemButton-root {
          font-weight: bold;
          background-color: #ddd;
        }
      }
    }
  }
  .MuiBreadcrumbs-root {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .guide-page {
    &__title {
      margin-bottom: 20px;
      padding-bottom: 10px;
      border-bottom: 1px solid #636060;
      h2 {
        color: #666;
        font-size: 1.3rem;
      }
    }
    &__box {
      margin-bottom: 20px;
      &--tit {
        margin-bottom: 10px;
        h3 {
          color: #666;
          font-size: 1rem;
        }
      }
      &--cont {
        margin-bottom: 30px;
        color: #666;
        font-size: 0.9rem;
        .MuiList-padding {
          padding-left: 10px;
        }
        ol {
          &:not(.MuiList-root) {
            counter-reset: item;
            > li {
              counter-increment: item;
              &::before {
                content: '(' counter(item) ') ';
                display: inline-block;
                width: 25px;
              }
              h4 {
                display: inline-block;
              }
              ul {
                margin-left: 25px;
                li {
                  position: relative;
                  padding-left: 1em;
                  &::before {
                    content: '•';
                    position: absolute;
                    left: 0;
                    color: #333;
                  }
                  ul {
                    margin-left: 0;
                    li {
                      position: relative;

                      &::before {
                        content: '-';
                        position: absolute;
                        left: 0;
                      }
                    }
                  }
                }
              }
            }
          }
        }
        table {
          width: 50%;
          caption {
            position: absolute;
            left: -999999rem;
          }
          thead {
            th {
              padding: 5px;
              font-size: 0.8rem;
              font-weight: normal;
              text-align: left;
              border-bottom: 1px solid #ddd;
            }
          }
          tbody {
            th,
            td {
              padding: 5px;
              text-align: left;
              border-bottom: 1px solid #eee;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .guide-container {
    flex-direction: column;
    min-width: 375px;
    height: 100vh;
    .guide-header {
      width: auto;
      .guide-logo {
        font-size: 0.9rem;
      }
      .btn-sidebar-toggle {
        display: inline-flex;
      }
    }

    .guide-sidebar {
      display: none;
      position: fixed;
      left: 0;
      top: 0;
      height: 100%;
      z-index: 1000;

      &.open {
        transform: translateX(0);
      }
      &.collapsed {
        width: 240px !important;
      }
      .sidebar-toggle {
        display: none !important;
      }
    }
    &.sidebar-open {
      .guide-main {
        pointer-events: none;
      }
      .guide-sidebar {
        display: block;
        top: 50px;
        max-height: calc(100vh - 50px);
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
        .sidebar-toggle {
          display: none;
        }
      }
    }
    .guide-page {
      &__box {
        &--cont {
          table {
            width: 100%;
          }
          .list-md {
            flex-wrap: wrap;
          }
        }
      }
    }
  }
}
