/* Fonts
========================================================================== */
@font-face {
  font-display: swap;
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  src: url('../../../assets/fonts/noto-sans-kr-400.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 500;
  src: url('../../../assets/fonts/noto-sans-kr-500.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 600;
  src: url('../../../assets/fonts/noto-sans-kr-600.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 700;
  src: url('../../../assets/fonts/noto-sans-kr-700.woff2') format('woff2');
}
